<template name="ListCorpforms">
  <h1>Cars List</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>pvpgearing</th>
        <th>primarytz</th>
        <th> edit </th>
      </tr>
    </thead>
    <tbody>
      {{#each corpforms}}
        <tr>
          <td>{{pvpgearing}}</td>
          <td>{{primarytz}}</td>
          <td>{{#linkTo route='editCorpform'}}<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{{/linkTo}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
